@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,600;1,600&display=swap');
@import "tailwindcss";
:root {
  --background: url('/images/BG.png');
  --foreground: #171717;
  --font-mona-sans: "Mona Sans", sans-serif;
  --font-robo: "Roboto Condensed", sans-serif;
  --font-noto: "Noto Sans", sans-serif;
  --cursor:url('/images/cursor.png')
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Mona Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-dark-200: #475467;
  --color-light-blue-100: #c1d3f81a;
  --color-light-blue-200: #a7bff14d;

  --color-badge-green: #d5faf1;
  --color-badge-red: #f9e3e2;
  --color-badge-yellow: #fceed8;

  --color-badge-green-text: #254d4a;
  --color-badge-red-text: #752522;
  --color-badge-yellow-text: #73321b;
}

/* Define custom font classes for Tailwind */
.font-mona-sans {
  font-family: "Mona Sans", sans-serif !important;
}

.font-robo {
  font-family: "Roboto Condensed", sans-serif !important;
}

.font-noto {
  font-family: "Noto Sans", sans-serif !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer components{
  .page-heading{
    @apply flex flex-col items-center gap-8 max-w-4xl text-center max-sm:gap-4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

@utility bg-gradient {
 background: linear-gradient(to bottom, #f0f4ff 60%, #fa7185cc);
}

@utility text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-[#AB8C95] via-[#000000] to-[#8E97C5];
}

@utility gradient-hover {
  @apply bg-gradient-to-b from-light-blue-100 to-light-blue-200;
}

@utility primary-gradient {
  background: linear-gradient(to bottom, #8e98ff, #606beb);
  box-shadow: 0px 74px 21px 0px #6678ef00;
}

@utility primary-gradient-hover {
  background: linear-gradient(to bottom, #717dff, #4957eb);
}
